@import url('./global.css');

body {
  width: 1440px;
  margin: auto;
  background-color: #F9F9F9;

  display: grid;

  grid-template: 56px 968px / 218px 1222px;

  grid-template-areas: "top-nav top-nav"
                        "side-nav content";
}

.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: top-nav;
  padding: 0 24px 0;
  background-color: #fff;
}

.icon-logo {
  display: flex;
  justify-content: space-between;
  width: 146px;
  height: 24px;
}

.search {
  display: flex;
  width: 404px;
  height: 40px;
}

.search > input {
  width: 348px;
  height: 40px;
  border: 1px solid #ccc;
}

.icon-search {
  background-color: #F8F8F8;
  width: 57px;
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-left: none;
}

.icon-search > svg {
  margin-top: 8px;
}

.icon-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 34px;
}

.icon-user > img {
  width: 34px;
  height: 34px;
  object-fit: cover;
  border-radius: 50%;
}

.side_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: side-nav;
  background-color: #fff;
  gap: 22px;
}

.side_menu .menu-itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-left: 24px;
}

.side_menu .menu-itens p {
  font-size: 14px;
}

.side_menu .inicio {
  margin-top: 24px;
}

.side_menu .inicio p {
  font-weight: 700;
}

main {
  grid-area: content;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  padding: 24px 24px 250px 28px;
  gap: 14px;
  justify-items: center;
  align-items: center;
}

.video {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 250px;
  max-height: 262px;
}

.video-details {
  width: 249px;
  height: 74px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.titulo-visualizacao {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo-visualizacao > h1 {
  font-size: 14px;
  font-weight: 600;
}

.titulo-visualizacao > p {
  width: 175px;
  font-size: 12px;
  font-weight: 400;
  word-wrap: break-word;
}